body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: Roboto;
}

/*HEADER SECTION*/
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 64px;
}

.header-bar-container {
    display: flex;
    justify-content: center;
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    width: 55%;
}

.header-bar .logo {
    font-size: 24px;
    font-weight: bold;
}

.header-bar ul {
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    gap: 24px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-content .content {
    color: #E5E7EB;
    width: 25%;
}

.header-content .content .title {
    font-size: 48px;
    font-weight: bolder;
}

.header-content img {
    background-color: gray;
    width: 25%;
}

.header-content button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-color: transparent;
    border-radius: 5px;
    padding: 4px 24px;
    margin-top: 10px;
}

/*INFORMATION SECTION*/
.info {
    padding: 24px 160px;
    padding-bottom: 88px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.info .title {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    width: 50%;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 50%;
}

.square {
    border: 2px solid #3882F6;
    border-radius: 5px;
    padding: 50px;
}

.info .description {
    text-align: center;
}

/*QUOTES SECTION*/
.quotes-container {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 64px 160px;
}

.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-style: italic;
    font-size: 36px;
    width: 50%;
    text-align: center;
}

.author {
    font-weight: bold;
    text-align: right;
    width: 50%;
}

/*SIGN-UP SECTION*/
.sign-up {
    padding: 64px 100px;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 24px 64px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 64px;
    width: 50%;
}

.box .title {
    font-weight: bold;
}

.box button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0 24px;
    font-weight: bold;
}

/*FOOTER SECTION*/
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 24px;
}